<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>Things to check out</h3>
            <a target="_blank" href = "https://www.twitch.tv/jumpystick"> 
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="/assets/img/clients/katalogo.png" class="img-responsive">
                </div>
            </a>
            <a target="_blank" href = "https://www.omatumT.com/"> 
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="/assets/img/clients/omatum.png" class="img-responsive">
                </div>
            </a>            
            <a target="_blank" href = "https://github.com/EbookFoundation/free-programming-books"> 
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="/assets/img/clients/book.png" class="img-responsive">
                </div>
            </a>
            <a target="_blank" href = "https://fullstack.network/"> 
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="/assets/img/clients/FSSymbol.png" class="img-responsive">
                </div>
            </a>

        </div><!--/row -->
    </div><!--/container -->
</div><!--/cwrap -->